# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# S3
S3_BUCKET=
GOLD_BUCKET=

# RDS PostgreSQL
DB_HOSTNAME=
DB_USER=
DB_PASSWORD=
DB_NAME=postgres
DB_TABLE_NAME=zillow-merged-data

# ZHVF forecast reference
ZHVF_FILE_NAME=zhvf_latest.csv
ZHVF_COL_H1=2025-07-31
ZHVF_COL_H3=2025-09-30
ZHVF_COL_H12=2026-06-30
